<!DOCTYPE HTML>

<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">

		<title> Cars </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<nav id="nav">
						<a href="index.html">Log in</a>
						<a href="generic.html">Sign UP</a>
						<a href="elements.html">What Car</a>



					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="background-image: url('static/lambo1.jpg');">
				<div class="inner">
					<header>
						<h1>Welcome to Car Search <img src="static/search car logo.png" alt="Pic 01" height="70" /> </h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3> Read All About Cars</h3>
							<p>Suspendisse amet ullamco</p>
						</div>

						<div>
							<img src="static/camera.png" alt="Pic 01" height="60" />
							<h3> Just Take A Pictue</h3>
							<p>just snap a shot and wel know what car this is</p>
						</div>

						<div>
							<img src="static/book.png" alt="Pic 01" height="80" />
							<h3>Ultrices</h3>
							<p>Nulla vitae mauris non felis</p>

						</div>

					</div>

					<footer>
						<a href="form" class="button">Get Started</a>
					</footer>
				</div>

			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="static/ford.jpg" alt="Pic 01" height="100" />

							</div>
							<header>
								<h3>Ford GT 40 <br /> -fan favoutite</h3>
							</header>
							<p>The Ford GT40 is an American high-performance endurance racing car. The Mk I, Mk II, and Mk III variants were designed and built in England based upon the British Lola Mk6. The Mk IV model was designed and built in the United States. The range was powered by a series of Ford V8 engines modified for racing.

The GT40 effort was launched by Ford Motor Company to win long-distance sports car races against Ferrari, which won every 24 Hours of Le Mans race from 1960 to 1965. The GT40 broke Ferrari's streak in 1966 and went on to win the next three annual races. The Mk II's victory was the first win for an American manufacturer in a major European race since Jimmy Murphy's triumph with Duesenberg at the 1921 French Grand Prix.[5][6] In 1967, the Mk IV became the only car designed and built entirely in the United States to achieve the overall win at Le Mans.[7]

The Mk 1, the oldest of the cars, won in 1968 and 1969, the second chassis to win Le Mans more than once. (This Ford/Shelby chassis #P-1075 was believed to have been the first until the Ferrari 275P chassis 0816 was revealed to have won the 1964 race after winning the 1963 race in 250P configuration and with a 0814 chassis plate). Using an American Ford V8 engine, originally of 4.7-liter displacement capacity (289 cubic inches), it was later enlarged to the 4.9-liter engine (302 cubic inches), with custom alloy Gurney–Weslake cylinder heads. In general, the engines displaced 4.2 liters, 4.7 liters, and 7 liters, far more than the 3.0-liter and 4.0-liter Ferrari V12.

Early cars were simply named "Ford GT" for Grand Touring), the name of Ford's project to prepare the cars for the international endurance racing circuit. The "40" represented its height of 40  inches (1.02 m), measured at the windshield, the maximum allowed. The first 12 "prototype" vehicles carried serial numbers GT-101 to GT-112. The "production" began and the subsequent cars: the MkI, MkII, MkIII, and MkIV were numbered GT40P/1000 through GT40P/1145, and thus officially "GT40s". The Mk IVs were numbered J1-J12.

The contemporary Ford GT is a modern homage to the GT40..</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="static/porsceh.jpg" alt="Pic 02" height="100"/>
							</div>
							<header>
								<h3>Poursche 911<br /> -car of he day</h3>
							</header>
							<p> .

Car flat engine six -cylinder configuration, a back, a configuration unique and exceptional [1] from the perspective of engineering in the automotive industry in the world, when in stark contrast to most cars precluded located behind the rear axle of the vehicle. By the time the 1998 series was introduced in 1998 , all Porsche cars had 911 air-cooled engines .

Since its first introduction, the Porsche 911 has been constantly and consistently upgraded and upgraded every few years, raising performance levels every time. In addition, it has been upgraded and adapted over the years by Porsche and also by private entities for track racing, rally racing and other motor competitions . The Porsche 911 is the most successful car in world racing history [2][3][4] . Over the years, the Porsche 911 has won many major championships and races such as: Targa Florio , Daytona , Sebring , Silverstone , Norbergring 1000 km race , 24 hour spa and Norburgring 24 hour race .1979 Porsche 935 - Racing Porsche 911 turbo in the prestigious Le Mans 24 hour race , and in 1984 Porsche 953 - Porsche 911 rally in the Paris-Docker Rally .

Many claim, including the UK's most prestigious auto magazine , Auto Express, that the Porsche 911 is the world's most famous sports car [5][6][7][8][10][11] .

In the 1999 International Car of the Year competition , the 911 came in fifth place [12] after the Ford Model T , Mini Car , Citroen DS and Volkswagen Beetl</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>